<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
		<link rel="stylesheet" type="text/css" href="/bower/bootstrap/dist/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="/bower/angular-bootstrap/ui-bootstrap-csp.css" />
		<link rel="stylesheet" type="text/css" href="/bower/sortable/css/sortable-theme-bootstrap.css" />
	</head>
	<body ng-app="car">
		<div class="container" ng-controller="CarController">
			<ng-include src="'/partials/stocks.ejs'"></ng-include>
			<ng-include src="'/partials/freights.ejs'"></ng-include>
			<ng-include src="'/partials/results.ejs'"></ng-include>
		</div>
		<script type="text/javascript">
			var cars = <%- JSON.stringify(cars) %>
			var countries = <%- JSON.stringify(countries) %>
			var ports = <%- JSON.stringify(ports) %>
		</script>
		<script type="text/javascript" src="/bower/jquery/dist/jquery.min.js"></script>
		<script type="text/javascript" src="/bower/bootstrap/dist/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="/bower/angular/angular.min.js"></script>
		<script type="text/javascript" src="/bower/angular-bootstrap/ui-bootstrap.min.js"></script>
		<script type="text/javascript" src="/bower/sortable/js/sortable.min.js"></script>
		<script type="text/javascript" src="/javascripts/angular/controllers/CarController.js"></script>
	</body>
</html>