<div class="col-md-3">
	<fieldset>
		<label for="country-select" class="col-lg-2 control-label">Country</label>
		<select class="form-control" id="country-select" ng-change="getPortByCountry(country);" ng-options="c._id as c.name for c in countries | orderBy:'name'" ng-model="country">
			<option value="">Select country</option>
		</select>
	</fieldset>
	<br>
	<fieldset ng-if="country">
		<label for="port" class="col-lg-2 control-label">Port</label>
		<select class="form-control" id="port" ng-init="port = null" ng-options="p._id as p.name for p in ports | orderBy:'country.name'" ng-model="port">
			<option value="">Select port</option>
		</select>
	</fieldset>
</div>