<div class="col-md-9">
	<table class="table table-striped table-hover sortable-theme-bootstrap" data-sortable>
		<thead>
		<tr>
			<th ng-repeat="th in thList">{{th}}</th>
		</tr>
		</thead>
		<tbody>
			<tr ng-if="!finalPrice" ng-repeat="car in cars">
				<td>{{$index + 1}}</td>
				<td>{{car.referenceNo}}</td>
				<td>{{car.make.name}}</td>
				<td>{{car.model.name}}</td>
				<td>${{car.fob}}</td>
				<td id="final-price">ASK</td>
			</tr>
			<tr ng-if="finalPrice" ng-repeat="car in carsWithPrice">
				<td>{{$index + 1}}</td>
				<td>{{car.referenceNo}}</td>
				<td>{{car.make.name}}</td>
				<td>{{car.model.name}}</td>
				<td>${{car.fob}}</td>
				<td id="final-price">${{car.pricing.finalPrice.toFixed(2)}}</td>
			</tr>
		</tbody>
	</table>
</div>